#templateimporter-import-form {
  border-collapse: collapse;
  border: 1px solid #ccc; }
  #templateimporter-import-form td,
  #templateimporter-import-form th {
    border: 1px solid #ccc;
    padding: 3px;
    line-height: 1; }
  #templateimporter-import-form th {
    background-color: #888888;
    color: white; }
  #templateimporter-import-form tr td:nth-of-type(2),
  #templateimporter-import-form tr td:nth-of-type(3) {
    text-align: center; }
  #templateimporter-import-form tr.status-new td:nth-of-type(3),
  #templateimporter-import-form tr.status-new td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #2980b9; }
  #templateimporter-import-form tr.status-unknown td:nth-of-type(3),
  #templateimporter-import-form tr.status-unknown td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #c0392b; }
  #templateimporter-import-form tr.status-uptodate td:nth-of-type(3),
  #templateimporter-import-form tr.status-uptodate td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #27ae60; }
  #templateimporter-import-form tr.status-unchanged td:nth-of-type(3),
  #templateimporter-import-form tr.status-unchanged td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #27ae60; }
  #templateimporter-import-form tr.status-willupdate td:nth-of-type(3),
  #templateimporter-import-form tr.status-willupdate td:nth-of-type(4) {
    color: white;
    font-weight: bold;
    background-color: #2980b9; }
  #templateimporter-import-form p {
    margin: 0; }
